extends layout


block content
 div.abc
     li
       a 设置
     li
       a 登录
     li
       a 学术
     li
       a 贴吧
     li
       a 地图
     li
       a hao123
     li
       a 新闻
 img(src="//www.baidu.com/img/bd_logo1.png" alt="" class='logo')
 div.main
     input.text
     button.btn
 div.erweima
 p.txt 手机百度
 div.foot1
     span.span2 把百度设为主页
     span.span2 关于百度
     span.span2 About Baidu
     span.span2 百度推广
 div.foot2
     span @2017Baidu
     span.span2 使用百度前必读
     span.span2 意见反馈
     span 京ICP证030173号
     img(src="background: url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/img/icons_5859e57.png) no-repeat;")
     span.span2 京公网安备11000002000001号
     img(src="background: url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/img/icons_5859e57.png) no-repeat;")

